{% extends 'basic.html' %}
{% load static %}
{% block body %}
<div class="container my-5">
    <hr>
    <p class="name">{{post.name}}</p>
    <p class="title">{{post.title}}</p>
    <hr>
    <p>{{post.content}}</p>
    <hr>
    <p class="date">{{post.date}}</p>
    <hr>
    <div class="fb-like" data-href="http://127.0.0.1:8000/home/doubtpost/&#123;&#123;post.post_id&#125;&#125;" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div> <br>
    <div class="fb-comments" data-href="http://127.0.0.1:8000/home/doubtpost/{{post.post_id}}" data-numposts="30" data-width=""></div>
</div>

{% endblock%}