{% extends 'basic.html' %}
{% load static %}
{% block body %}



<div class="container mt-3">

  <h3>Post Your Doubts Here</h3>

  <form method="post" action="/home/doubt/">
    {% csrf_token %} 
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name = "name"  id="name" >
    </div>
    <div class="form-group">
      <label for="title">Enter your topic</label>
      <input type="text" class="form-control" name = "title"  id="title" >
    </div>
    
    
    
    <div class="form-group">
      <label for = "content">Query</label>
      <textarea class="form-control" name="content" id = "content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>  
  </form>


<hr>
  <div class="row my-4">
    {% for item in myDoubts %}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{item.name}}</strong>
          <h3 class="mb-0">{{item.title}}</h3>
          <div class="mb-1 text-muted">{{item.date}}</div>
          <p class="card-text mb-auto">{{item.content}}</p>
          <a href="/home/doubtpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row my-2">
    {% endif %}

    {% endfor %}

  </div>


  {% endblock %}
  