{% extends 'basic.html' %}
{% load static %}
{% block body %}
      <div class="container my-3">
          <div class="first">
            <div><p id="heading">Clarify your doubts in your language</p>
             <a href="doubt"> <span id="doubt" class="badge badge-danger">Ask your doubt now</span></a>
            </div>
              
            <div>
              <img src="{% static 'images/first.png'%}" alt="">
            </div>
          </div>
         <center> <img class=" my-3" src="{% static 'images/second.png'%}" alt=""></center>
      </div>
{% endblock %}     
      
         
          
        
      
    



